[Desktop Entry]
Version=1.0
Type=Application
Name=Aircraft Performance Calculator
Exec=/usr/bin/acftperf
Icon=vfrnav
X-Window-Icon=vfrnav
X-Window-Icon-Dimmed=vfrnav
X-Osso-Type=application/x-executable
Terminal=false
StartupNotify=true
Categories=GTK;Utility;Education;Geography;
