[Desktop Entry]
Version=1.0
Type=Application
Name=Flugwetter Image Downloader
Exec=/usr/bin/wetterdl.py
Icon=wetterdl
X-Window-Icon=wetterdl
X-Window-Icon-Dimmed=wetterdl
X-Osso-Type=application/x-executable
Terminal=false
StartupNotify=true
Categories=GTK;Utility;Education;Geography;
